*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    width: 100%;
}

body{
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Oswald', Helvetica, sans-serif;
    margin: 50px;
}

.container{
    display: grid;
    gap: 10px;
}
.header{
    display: grid;
    grid-template-areas: 
    'hero hero f1'
    'hero hero f2';
}

.hero{
    grid-area: hero;
    min-height: 450px;
    background-image: url(img/1.png);
    background-size: cover;
    padding: 50px;
    
}

.hero > *{
    display: none;
}

.features{
    background-color: black;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
}

.f1{
    grid-area: f1;
    background-image: url(img/2.jpg);
    background-size: cover;
}

.f2{
    grid-area: f2;
    background-image: url(img/3.jpg);
    background-size: cover;
}

.features .price{
    font-size: 3em;
    font-weight: 200;
}

/* Navigasi */
.menu{
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand{
    font-size: 1.3em;
    color: #333;
}

.menu ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 5px;
}

.menu a{
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}

/* Hamburger Menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    left: -5px;
    top: -3px;
    width: 40px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color:rgb(12, 12, 12);
    border-radius: 3px;
    transition: all 0.5s;
    z-index: 99;
}

/* Hamburger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px,-1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px,0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform:scale(0);
}

/* Services */
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
}

.service{
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.service .icon{
    font-size: 3em;
}

.service h3{
    font-size: 1.5em;
}

.service p{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.galerry{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
}

.galerry h2{
    grid-column: 1/-1;
    /* grid-column-end:-1; */
    text-align: center;
}
/* Responsive Breakpoint */

@media screen and (max-width:1024px){
    .menu{
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand{
        display: none;
    }

    .hero > *{
        display: block;
        /* background-color: black; */
        color: white;
        padding: 5px;
        margin-bottom: 5px;
    }

    .hero{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    
}
@media screen and (max-width:768px){
    .menu{
        order: -1;
        justify-items: end;
    }
    .menu-toggle{
        display: flex;
    }
    .menu ul{
        display: flex;
       position: absolute;
       right: 0;
       top: 0;
       height: 100vh;
       align-items: center;
       justify-content: space-evenly;
       flex-direction: column;
       background-color: black;
       z-index: 1;
       background-color:  #000;
       width: 100%;
       transform: translateY(-100%);
       transition: all 1s;
       opacity: 0;
       
    }
    .menu ul.slide{
        opacity: 1;
        transform: translateY(0);
    }

}



@media screen and (max-width:600px){
    .header{
        grid-template-areas: 
        'hero'
        'f1'
        'f2';
    }

}